external/resourceManager.dtd

<!ELEMENT resources (sound*, music*, image*, sheet*, anim*, spritesheetfont*, unicodefont*, angelcodefont*, map*, param*)>
        <!ATTLIST resources
                baseDir CDATA #REQUIRED
                >

        <!ELEMENT sound EMPTY>
        <!ATTLIST sound
                key CDATA #REQUIRED
                file CDATA #REQUIRED
                >

        <!ELEMENT music EMPTY>
        <!ATTLIST music
                key CDATA #REQUIRED
                file CDATA #REQUIRED
                >

        <!ELEMENT image EMPTY>
        <!ATTLIST image
                key CDATA #REQUIRED
                file CDATA #REQUIRED
                transparentColor CDATA #IMPLIED
                >

        <!ELEMENT sheet EMPTY>
        <!ATTLIST sheet
                key CDATA #REQUIRED
                file CDATA #REQUIRED
                tileWidth CDATA #REQUIRED
                tileHeight CDATA #REQUIRED
                transparentColor CDATA #IMPLIED
                >

        <!ELEMENT anim EMPTY>
        <!ATTLIST anim
                key CDATA #REQUIRED
                imgName CDATA #REQUIRED
                row CDATA #REQUIRED
                frameDuration CDATA #REQUIRED
                frames CDATA #IMPLIED
                flipVertical CDATA #IMPLIED
                flipHorizontal CDATA #IMPLIED
                loop CDATA #IMPLIED
                >

        <!ELEMENT spritesheetfont EMPTY>
        <!ATTLIST spritesheetfont
                key CDATA #REQUIRED
                file CDATA #REQUIRED
                firstchar CDATA #REQUIRED
                >

        <!ELEMENT angelcodefont EMPTY>
        <!ATTLIST angelcodefont
                key CDATA #REQUIRED
                fontFile CDATA #REQUIRED
                imageFile CDATA #REQUIRED
                >

        <!ELEMENT unicodefont EMPTY>
        <!ATTLIST unicodefont
                key CDATA #REQUIRED
                file CDATA #REQUIRED
                fontSize CDATA #IMPLIED
                >

        <!--
        The tileSetPath is used by Slick to find the tileset images.
        All paths are relative to the base directory.
        If tileSetPath is empty then the map layer images must be in the same directory as the tiledMap.
        -->
        <!ELEMENT map EMPTY>
        <!ATTLIST map
                key CDATA #REQUIRED
                file CDATA #REQUIRED
                tileSetPath CDATA #IMPLIED
                >

        <!ELEMENT param EMPTY>
        <!ATTLIST param
                key CDATA #REQUIRED
                value CDATA #REQUIRED
                >
